<?xml version="1.0" encoding="utf-8" ?>
<!--
 This file is part of the downloadable code for the Apress book:
 Pro WF: Windows Workflow in .NET 4.0
 Copyright (c) Bruce Bukovics.  All rights reserved.

 This code is provided as is without warranty of any kind, either expressed
 or implied, including but not limited to fitness for any particular purpose.
 You may use the code for any commercial or noncommercial purpose, and combine
 it with your own code, but cannot reproduce it in whole or in part for
 publication purposes without prior approval.
 -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="InstanceStore"
        connectionString="Data Source=localhost\SQLExpress;
           Initial Catalog=InstanceStore;Integrated Security=True;
           Asynchronous Processing=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="OrderEntryService">
        <endpoint contract="IOrderEntry" binding="wsHttpBinding" />
      </service>
    </services>

    <bindings>
      <!--<wsHttpContextBinding>
        <binding name="OrderEntryServiceBinding" />
      </wsHttpContextBinding>-->
    </bindings>

    <!--<extensions>
      <behaviorExtensions>
        <add name="itemSupportExtension" type="ActivityLibrary.ItemSupportExtension, ServiceLibrary"/>
      </behaviorExtensions>
    </extensions>-->
    
    <behaviors>
      <serviceBehaviors>
        <behavior>

          <sqlWorkflowInstanceStore
            connectionStringName="InstanceStore"
            instanceCompletionAction="DeleteAll"
            instanceLockedExceptionAction="BasicRetry"
            instanceEncodingOption="GZip"
            hostLockRenewalPeriod="00:01:00" />

          <!--<itemSupportExtension></itemSupportExtension>-->
          
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
